ul.socials
  li.item
    a(
      href="https://vk.com/cytovir",
      target='_blank')
      img(src="./assets/img/icons/vk.svg", alt="icon")
  li.item
    a(
      href="https://www.facebook.com/cytovir",
      target='_blank')
      img(src="./assets/img/icons/fb.svg", alt="icon")
  li.item
    a(
      href="https://ok.ru/group/54392542789749",
      target='_blank')
      img(src="./assets/img/icons/ok.svg", alt="icon")