extends ../layout/main

block content
  main.main.oversize
    .container
      ul.list.visible__md
        li.item
          .round
          p Защита для детей&#8209;аллергиков
        li.item
          .round
          p Незаменим для часто болеющих детей 
        li.item
          .round
          p 
            | Разрешен к применению для малышей от 
            span.number 1 
            | года 
      .picture
        img.visible__md(src="./assets/img/main-logo-top.svg", alt="img", loading='lazy')
        img(src="./assets/img/main-logo-bottom.svg", alt="img", loading='lazy')
  section.products
    .container
      .content
        .chick
          img(src="./assets/img/chick/chick-1.png", alt="img")
        .part
          .picture
            img(src="./assets/img/sirop-pack.png", alt="img")
          span.title 
            | приятный
            br
            | вкус
          .ellipses__list
            .part
              img(src="./assets/img/ellipse/ellipse-sirop.png", alt="ellipse")
        .part
          .picture
            img(src="./assets/img/powder-pack.png", alt="img")
          span.title 
            | палитра
            br
            | вкусов
          .ellipses__list
            .part
              img(src="./assets/img/ellipse/powder-ellipse-1.png", alt="ellipse")
            .part
              img(src="./assets/img/ellipse/powder-ellipse-2.png", alt="ellipse")
            .part
              img(src="./assets/img/ellipse/powder-ellipse-3.png", alt="ellipse")
            .part
              img(src="./assets/img/ellipse/powder-ellipse-4.png", alt="ellipse")
  section.choose.oversize
    .container
      h2.title 
        | Цитовир-3  — выбор 
        br
        | ответственных родителей!
      ul.list
        li.item
          .icon
          h3.title широкий спектр действия
          p защищает от всех типов возбудителей ОРВИ и гриппа (более 200)
        li.item
          .icon
          h3.title 
            | Эффективная 
            br
            | профилактика
          p более 90% детей, принимавших Цитовир-3 в период сезонной вспышки гриппа и ОРВИ, в последующий месяц не заболели
        li.item
          .icon
          h3.title 
            | защита 
            br
            | от осложнений
          p предупреждает бактериальные осложнения гриппа и ОРВИ, что позволяет избежать излишней медикаментозной нагрузки на организм
        li.item
          .icon
          h3.title 
            | высокий профиль
            br
            | безопасности
          p разработан специально для детей, не кумулируется в организме и при метаболизме не образует токсичных продуктов, минимальная вероятность побочных эффектов
        li.item
          .icon
          h3.title 
            | полная 
            br
            | cовместимость
          p допустимо применение со всеми симптоматическими средствами
        li.item
          .icon
          h3.title 
            | щадящий 
            br
            | состав
          p подходит для детей с ограничением в потреблении углеводов (Цитовир-3 порошок) и склонным к аллергии (нейтральный вкус порошка)
        li.item
          .cost
            p 
              | Узнайте 
              br
              | стоимость курса
            a.btn(href="https://apteka.ru/preparation/tsitovir-3/?utm_source=protiv-grippa.com&utm_medium=knopka&utm_campaign=cytovir-3", target='_blank') Здесь
  section.formula  
    .container
      .content
        .part
          h2.title Уникальная формула
          p Три лекарственных компонента дополняют и усиливают действие друг друга, что позволяет достичь быстрого лечебно-профилактического эффекта!
          .list
            h3.title Благодаря уникальной формуле Цитовир-3:
            p.item нормализует иммунный ответ
            p.item помогает организму в короткие сроки нейтрализовать негативное воздействие вируса гриппа или ОРВИ, а также токсичных продуктов их жизнедеятельности
            p.item повышает устойчивость организма не только к вирусам, но и к бактериальным инфекциям, предупреждая развитие возможных осложнений гриппа и ОРВИ
        .part
          img(src="./assets/img/formula.png", alt="img", loading='lazy')
      .list
        a.item(href="/how.html#research")
          .picture
            img(src="./assets/img/formula-list/formula-pic-1.jpeg", alt="img", loading='lazy')
            .button
              span Узнать больше
          p Многочисленные клинические исследования и более 10 лет опыта применения детских форм
        a.item(href="/recommend.html")
          .picture
            img(src="./assets/img/formula-list/formula-pic-2.jpg", alt="img", loading='lazy')
            .button
              span Посмотреть рекомендации
          p Рекомендуют врачи НИИ&nbsp;гриппа&nbsp;РАМН
        a.item(href="/recommend.html#aword")
          .picture
            img(src="./assets/img/formula-list/formula-pic-3.jpg", alt="img", loading='lazy')
            .button
              span 
                | Больше о Премии 
                br
                | Russian Pharma Awards
          p Выбор педиатров России
        //- a.item(href="https://protiv-grippa.com/otzyvy/", target='_blank')
        //-   .picture
        //-     img(src="./assets/img/formula-list/formula-pic-4.jpg", alt="img", loading='lazy')
        //-     .button
        //-       span Читать отзывы
        //-   p Множество положительных отзывов от родителей на независимых порталах
      h2.title Выбери свой Цитовир-3
  section.index__details.oversize
    .part
      .content
        h2.title сироп
        .picture
          img(src="./assets/img/product-sirop.png", alt="img", loading='lazy')
        .list
          p.item Готов к применению
          p.item 
            | Открытый флакон можно хранить 
            br 
            | при комнатной температуре
          p.item Приятный вкус
    .list__details.visible__md
      p.list__item 
        | 1 флакон
        br
        | =
        br
        | 1 курс*
      p.list__item Подходит для детей от 1 года
      p.list__item Не содержит красителей и консервантов
      span.limit *для детей до 6 лет
    .part
      .content
        h2.title порошок
        .picture
          img(src="./assets/img/product-powder.png", alt="img", loading='lazy')
        .list
          
          p.item 
            | Подходит детям с ограничением в потреблении углеводов 
            span (подсластитель – фруктоза)
          p.item Увеличенный срок хранения, удобство транспортировки
          p.item 4 вкуса
  section.pharmacy
    .container
      .content
        h2.title 
          | Курс 4 дня
          br
          | 1 флакон = 1 курс*
        p Узнайте стоимость курса в интернет-аптеке
        .pharmacy__list
          .row
            .pharmacy__item
              a(
                href="https://apteka.ru/preparation/tsitovir-3/?utm_source=protiv-grippa.com&utm_medium=knopka&utm_campaign=cytovir-3",
                target='_blank')
                img(src="./assets/img/pharmacy/aptru.png", alt="img")
          .row
            .pharmacy__item
              a(
                href="https://www.piluli.ru/product/Citovir-3",
                target='_blank')
                img(src="./assets/img/pharmacy/piluli.png", alt="img")
            .pharmacy__item
              a(
                href="https://amt-apteka.ru/product/citovir-3.html",
                target='_blank')
                img(src="./assets/img/pharmacy/atmm.png", alt="img")
          .row
            .pharmacy__item
              a(
                href="https://www.eapteka.ru/goods/drugs/antiviral/tsitovir_3_tsitomed/",
                target='_blank')
                img(src="./assets/img/pharmacy/eapt.png", alt="img")
            .pharmacy__item
              a(
                href="https://uteka.ru/lekarstvennye-sredstva/prostuda-i-gripp/citovir-3/",
                target='_blank')
                img(src="./assets/img/pharmacy/upteka.png", alt="img")
        p Уточните наличие Цитовир-3 в аптеках вашего города
        .picture
          a(
            href="https://www.pharmindex.ru/tsitovir_3.html",
            target='_blank')
            img(src="./assets/img/pharmacy/farmindex.png", alt="img", loading='lazy')
        p.warning *для детей до 6 лет
        .question
          h3 Остались вопросы?
          p Спросите специалиста!
          a.btn(href="/faq.html", target='_blank') Задать вопрос
  include ../includes/module/footer
  include ../includes/module/warning