extends ../layout/main

block content
  main.main
    .container
      ul.list
        li.item
          .round
      .picture
        img(src="./assets/img/main-logo.png", alt="img")
  section.products
    .container
      p text text
  section.choose
    .container
      h2.title Цитовир-3  — выбор ответственных родителей!
      ul.list
        li.item
          .icon
            img(src="./assets/img/icons/choose-list/choose-icon-1.svg", alt="")
          h3.title широкий спектр действия
          p защищает от всех типов возбудителей ОРВИ и гриппа (более 200)
        li.item
          .icon
            img(src="./assets/img/icons/choose-list/choose-icon-2.svg", alt="")
          h3.title Эффективная профилактика
          p более 90% детей, принимавших Цитовир-3 в период сезонной вспышки гриппа и ОРВИ, в последующий месяц не заболели
        li.item
          .icon
            img(src="./assets/img/icons/choose-list/choose-icon-3.svg", alt="")
          h3.title защита от осложнений
          p предупреждает бактериальные осложнения гриппа и ОРВИ, что позволяет избежать излишней медикаментозной нагрузки на организм
        li.item
          .icon
            img(src="./assets/img/icons/choose-list/choose-icon-4.svg", alt="")
          h3.title высокий профиль безопасности
          p разработан специально для детей, не кумулируется в организме и при метаболизме не образует токсичных продуктов, минимальная вероятность побочных эффектов
        li.item
          .icon
            img(src="./assets/img/icons/choose-list/choose-icon-5.svg", alt="")
          h3.title полная Совместимость
          p допустимо применение со всеми симптоматическими средствами
        li.item
          .icon
            img(src="./assets/img/icons/choose-list/choose-icon-6.svg", alt="")
          h3.title щадящий состав
          p подходит для детей с ограничением в потреблении углеводов (Цитовир-3 порошок) и склонным к аллергии (нейтральный вкус порошка)
  section.formula  
    .container
      .content
        .part
          h2.title Уникальная формула
          p Три лекарственных компонента дополняют и усиливают действие друг друга, что позволяет достичь быстрого лечебно-профилактического эффекта!
          ul.list
            li.item
              p нормализует иммунный ответ
            li.item
              p помогает организму в короткие сроки нейтрализовать негативное воздействие вируса гриппа или ОРВИ, а также токсичных продуктов их жизнедеятельности
            li.item
              p повышает устойчивость организма не только к вирусам, но и к бактериальным инфекциям, предупреждая развитие возможных осложнений гриппа и ОРВИ
        .part
          img(src="./assets/img/formula.png", alt="img")
      ul.list
        li.item
          .picture
            img(src="./assets/img/formula-list/formula-pic-1.jpeg", alt="img")
          p Многочисленные клинические исследования и более 10 лет опыта применения детских форм
        li.item
          .picture
            img(src="./assets/img/formula-list/formula-pic-2.jpg", alt="img")
          p Рекомендуют врачи НИИ Гриппа РАМН
        li.item
          .picture
            img(src="./assets/img/formula-list/formula-pic-3.jpg", alt="img")
          p Выбор педиатров России
        li.item
          .picture
            img(src="./assets/img/formula-list/formula-pic-4.jpg", alt="img")
          p Множество положительных отзывов от родителей на независимых порталах
      h2.title Выбери свой Цитовир-3
  section.index__details
    .part
      .content
        h2.title сироп
        .picture
          img(src="./assets/img/product-sirop.png", alt="")
        ul.list
          li.item
            p Готов к применению
          li.item
            p Открытый флакон можно хранить при комнатной температуре
          li.item
            p Приятный вкус
    .part
      .content
        h1.title порошок
        .picture
          img(src="./assets/img/product-powder.png", alt="")
        ul.list
          li.item
            p Сниженный риск развития аллергии 
              span (нейтральный вкус не содержит красителей и ароматизаторов)
          li.item
            p Подходит детям с ограничением в потреблении углеводов
              span (подсластитель – фруктоза)
          li.item
            p 4 вкуса
  section.pharmacy
    .container
      .content
        h2.title 
          | Курс 4 дня
          br
          | 1 флакон = 1 курс*
        p Узнайте стоимость курса в интернет-аптеке
        p Уточните наличие Цитовир-3 в аптеках вашего города
        .pharmacy__list
          .row
            .pharmacy__item
              a(
                href="https://apteka.ru/preparation/tsitovir-3/?utm_source=protiv-grippa.com&utm_medium=knopka&utm_campaign=cytovir-3",
                target='_blank')
                img(src="./assets/img/pharmacy/aptru.png", alt="img")
          .row
            .pharmacy__item
              a(
                href="https://www.piluli.ru/product/Citovir-3",
                target='_blank')
                img(src="./assets/img/pharmacy/piluli.png", alt="img")
            .pharmacy__item
              a(
                href="https://amt-apteka.ru/product/citovir-3.html",
                target='_blank')
                img(src="./assets/img/pharmacy/atmm.png", alt="img")
          .row
            .pharmacy__item
              a(
                href="https://www.eapteka.ru/goods/drugs/antiviral/tsitovir_3_tsitomed/",
                target='_blank')
                img(src="./assets/img/pharmacy/eapt.png", alt="img")
            .pharmacy__item
              a(
                href="https://uteka.ru/lekarstvennye-sredstva/prostuda-i-gripp/citovir-3/",
                target='_blank')
                img(src="./assets/img/pharmacy/upteka.png", alt="img")
        .picture
          a(
            href="https://www.pharmindex.ru/tsitovir_3.html",
            target='_blank')
            img(src="./assets/img/pharmacy/farmindex.png", alt="img")
        p *для детей до 6 лет
  include ../includes/module/footer
  include ../includes/module/warning