doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    link(
      rel="icon" 
      href="./assets/img/icons/favicon.png",
      type="image/x-icon")
    link(
      href="https://fonts.googleapis.com/css?family=Alegreya+Sans:300,300i,400,400i,500,500i,700,700i,800,800i&display=swap&subset=cyrillic,cyrillic-ext,latin-ext", 
      rel="stylesheet")
    meta(
      name="viewport", 
      content="width=device-width, initial-scale=1.0")
    meta(
      http-equiv="X-UA-Compatible", 
      content="ie=edge")
    meta(
      name='description' 
      content="Против гриппа - сайт препарата Цитовир-3 порошок для детей. Информационный портал о гриппе, ОРВИ и простудных заболеваниях у детей.")
    title Цитовир-3
  body.body
    div.wrapper
      header.header.visible__md
        .container
          nav#navigation
            ul
              li
                a.link(href='') О препарате
                  span.arrow
                ul.list
                  li.item
                    a(href="") Как работает Цитовир-3
                  li.item
                    a(href="") Как применять
                  li.item
                    a(href="") Сироп или порошок?
                  li.item
                    a(href="") Защита для детей-аллергиков 
                  li.item
                    a(href="") Для часто болеющих детей 
                  li.item
                    a(href="") Отзывы
              li
                a(href='instructions.html') Инструкция
              li
                a(href='/recommend.html') Врачи рекомендуют
              li.visible__md
                a.logo(href='/')
                  img(
                    src="./assets/img/header-logo.svg", alt="img")
                  p для детей от 1 года
              li
                a(href='') Вопрос-ответ
              li
                a(href='') Производитель
              li.visible__md
                a.active(href="instructions.html") где купить?
          
      header.header.hidden__md
        .container
          .burger
            input#menu-switch.hidden__md(type="checkbox")
            nav#navigation
              ul
                li
                  a(href='') О препарате 
                  ul.list
                    li.item
                      a(href="") Как работает Цитовир-3
                    li.item
                      a(href="") Как применять
                    li.item
                      a(href="") Сироп или порошок?
                    li.item
                      a(href="") Защита для детей-аллергиков 
                    li.item
                      a(href="") Для часто болеющих детей 
                    li.item
                      a(href="") Отзывы
                li
                  a(href='') Инструкция
                li
                  a(href='/recommend.html') Врачи рекомендуют
                li.visible__md
                  a.logo(href='') 
                    img(
                      src="./assets/img/header-logo.svg", alt="img")
                    p для детей от 1 года
                li
                  a(href='') Вопрос-ответ
                li
                  a(href='') Производитель
                li.visible__md
                  a.active(href="buy.html") где купить?
            label.menu-switch(for='menu-switch')
              span
          a.logo.hidden__md
            img(src="./assets/img/header-logo.svg", alt="img")
            p для детей от 1 года
          a.buy.active.hidden__md(href="") где купить?
      .diploma.visible__md
        .container
          .content
            p.top “Выбор педиатров России”
            .picture
              img(src="./assets/img/diploma.png", alt="")
            p.bottom Russian Pharma Awards
      block content